

html,body{ 
    height:167%;
    }
    
    .your-div-class{
    height:100%;
    }

i{
    position: absolute;
    color: #000000;
    font-size: 70px;
    
    left:38%;
    
}


    


